[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:alex-holanda/algashop-ordering.git
[submodule "docs"]
	path = docs
	url = git@github.com:alex-holanda/algashop-docs.git
